{% for item in projects %}
  <div class="project">
    <div class="content-left">
      <img src={{ projects[item[0]].image_url }} alt={{projects[item[0]].image_alt}} />
    </div>
    <div class="content-right">
      <h3>{{ projects[item[0]].project_name }}</h3>
      <p>{{ projects[item[0]].text }}</p>
      <a href={{projects[item[0]].link}} target=”_blank”>Link to the project</a>
    </div>
  </div>
{% endfor %}